<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title th:text="${course.title}"></title>
</head>
<body>

<div layout:fragment="main-content">
    <p th:text="'assign Student to  '+ ${course.title}"></p>

    <form action="#" th:action="@{/course/studentassign/{cid}(cid=${course.getId()})}" th:object="${course}"
          method="post">
        <select name="student">
        <option th:each="student : ${students}"
                th:value="${student.getId()}"
                th:text="${student.getFirstName() + ' ' +student.getLastName()}"></option>
        </select>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
</html>