<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>Course</title>
</head>
<body>
<div layout:fragment="main-content">
<form action="#" th:action="@{/course/new}" th:object="${course}"
      method="post">

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" class="form-control" th:field="*{title}">
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" th:errorclass="error">/span>
  </div>

  <div class="form-group">
  <label for="semester">Semester</label>
  <select name="semester">
    <option th:each="semesterOpt : ${T(gr.hua.dit.ds.ds_lab_2024.entities.Semester).values()}"
            th:value="${semesterOpt}" th:text="${semesterOpt}"></option>
  </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html>