<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>
<div layout:fragment="main-content">
    <div th:if="${ not#lists.isEmpty(courses)}">
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Semester</th>
                <th>Teacher</th>
                <th>Actions</th>
                <th>#Students</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${courses}">
                <td th:text="${course.title}"></td>
                <td th:text="${course.semester}"></td>
                <td> <a th:if="${course.teacher!=null}" th:href="@{'/teacher/' + ${course.teacher.getId()}}" th:text="${course.teacher.getFirstName() + ' ' + course.teacher.getLastName()}"></a></td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" th:href="@{'/course/' + ${course.id}}">Details</a>
                <span th:if="${course.teacher==null}">
                    <a th:href="@{'/course/assign/' + ${course.id}}">Assign Teacher</a>
                </span>
                <span th:if="${course.teacher!=null}">
                    <a class="btn btn-outline-danger btn-sm"  th:href="@{'/course/unassign/' + ${course.id}}">Unassign</a>
                </span>
                <span>
                     <a class="btn btn-outline-light btn-sm" th:href="@{'/course/studentassign/' + ${course.id}}">Assign Student</a>
                </span>
                </td>
                <td> <span th:if="${course.students!=null}" th:text="${course.students.size()}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${ #lists.isEmpty(courses)}">
        No Courses found!
    </div>
    <a sec:authorize="hasRole('ADMIN')" href="/course/new" class="btn btn-primary" role="button">Create new Course</a>
</div>
</body>
</html>