<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>Teachers</title>
</head>
<body>
<div layout:fragment="main-content">
  <div th:if="${ not#lists.isEmpty(teachers)}">
    <table class="table">
      <thead>
      <tr>
        <th>Title</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="teacher : ${teachers}">
        <td th:text="${teacher.title}"></td>
        <td th:text="${teacher.firstName}"></td>
        <td th:text="${teacher.lastName}"></td>
        <td th:text="${teacher.email}"></td>
        <td>
          <a class="btn btn-outline-light btn-sm"  th:href="@{'/teacher/' + ${teacher.id}}">Details</a>
          <a class="btn btn-outline-info btn-sm"  th:href="@{'/teacher/' + ${teacher.id} + '/courses'}">Courses</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:if="${ #lists.isEmpty(teachers)}">
    No Teachers found!
  </div>
  <a href="/teacher/new" class="btn btn-primary" role="button">Create new Teacher</a>
</div>
</body>
</html>